Repository Netflix/mantis, pull requests merged in 2022-04, with the labels that each got.

#161 Link to latest mantis-example and update commands
  docs/docs/develop/writing-jobs/group-by.md
  docs/docs/develop/writing-jobs/twitter.md
  docs/docs/develop/writing-jobs/word-count.md
  docs/docs/getting-started/concepts.md
  docs/docs/getting-started/samples/on-demand.md
  docs/docs/getting-started/samples/sine-function.md
  docs/docs/getting-started/samples/twitter.md
  docs/docs/getting-started/tutorials/local.md
  mantis-examples/README.md
  mantis-examples/mantis-examples-twitter-sample/build.gradle
Labels: documentation

#171 Iceberg sink uses Parameters::get to ensure parameter definition exists
  mantis-connectors/mantis-connector-iceberg/src/main/java/io/mantisrx/connector/iceberg/sink/committer/config/CommitterConfig.java
  mantis-connectors/mantis-connector-iceberg/src/main/java/io/mantisrx/connector/iceberg/sink/writer/config/WriterConfig.java
  mantis-connectors/mantis-connector-iceberg/src/test/java/io/mantisrx/connector/iceberg/sink/StageOverrideParameters.java
  mantis-runtime/src/main/java/io/mantisrx/runtime/parameter/Parameters.java
  mantis-runtime/src/test/java/io/mantisrx/runtime/parameter/ParametersTest.java
Labels: iceberg

#180 Setting hostname as part of heartbeat
  mantis-server/mantis-server-worker/src/main/java/io/mantisrx/server/worker/Heartbeat.java
  mantis-server/mantis-server-worker/src/main/java/io/mantisrx/server/worker/MantisWorker.java
  mantis-server/mantis-server-worker/src/main/java/io/mantisrx/server/worker/Task.java
  mantis-server/mantis-server-worker/src/main/java/io/mantisrx/server/worker/TaskExecutor.java
  mantis-server/mantis-server-worker/src/main/java/io/mantisrx/server/worker/WorkerExecutionOperationsNetworkStage.java
Labels: server
